<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Castle Kings</title>
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="main.js"></script>
    <script src="controllers/indexController.js"></script>

    <script>
        var socket = io.connect('http://localhost:5000', {path: '/socket'});
    </script>
</head>
<body ng-app="CastleKings">
    <h1>Castle Kings</h1>
    <main ng-view></main>
</body>
</html>